.topblock2 {
    background-position: left top;
    background-repeat: no-repeat;
    color: #5b5b5b;
    float: left;
    font-family: Tahoma;
    font-size: 10px;
    font-weight: bold;
    height: 43px;
    margin: -14px -46px 3px;
    width: 45px;
}

.shopping {
    float: left;
    padding: 3px 12px 0 0;
}

img {
    border: 0 none;
}

.topblock2 p {
    line-height: 15px;
    padding: 0 ! important;
}

.topblock2 strong {
    background-color: #00b6f5;
    border-radius: 15px;
    color: #ffffff !important;
    display: inline-block;
    height: 24px;
    line-height: 25px;
    margin: 0 0 0 -21px;
    position: absolute;
    text-align: center;
    width: 24px;
}



.topblock2 span {
    font-weight: normal;
}

.popUpShoping
{
	border-radius: 0;
    float: left;
    padding: 0 5px 0 0;
}

.headingDesign
{
	background-color: #00b6f5;
    border-radius: 3px;
    color: #fff;
    float: left;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    height: 22px;
    margin: 2px;
    padding: 2px;
    text-align: left;
    width: 170px;
}

.productListDesign
{
	margin: -3px 29px 3px;
    text-align: left;
}



/* inside CSSS */


.innertopblock2 {
    background-position: left top;
    background-repeat: no-repeat;
    color: #5b5b5b;
    float: right;
    font-family: Tahoma;
    font-size: 10px;
    font-weight: bold;
    height: 37px;
    margin: -6px -22px 3px;
    width: 50px;
}

.innertopblock2 p {
    line-height: 6px;
    margin: 10px 2px 3px;
}

.innershopping {
    float: left;
    padding: 10px 12px 0 0;
}

.innertopblock2 strong {
   color: #FFFFFF !important;
    background-color: #00B6F5;
    width: 24px;
    height: 24px;
    display: inline-block;
    text-align: center;
    line-height: 25px;
    border-radius: 15px;
    margin: -12px 0 0 -16px;
    position: absolute;
}



a.tooltip span {
    border-radius: 6px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    color: #fff;
    display: none;
    font-size: 13px;
    line-height: 1.2;
    margin-left: -5px;
    margin-top: -80px;
    max-width: 320px;
    padding: 10px 12px;
    z-index: 10;
}


.tooltip-box-arrow {
    bottom: -15px;
    color: rgba(77, 144, 254, 0.9);
    font-size: 16px;
    left: 15px;
    position: absolute;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    z-index: 20;
}

