
.warningAlertPassage
{
	width:200px;
}

.errorStyle
{
	color:red;
	display:none;
}


#progressLight
{
	/* background: #fff none repeat scroll 0 0; */
    border-radius: 24px;   
    left: 50%;
    margin-left: -173px;
    margin-top: -108px;
    overflow: visible;
    padding: 10px;
    position: fixed;
    top: 50%;
    width: 329px;
    z-index: 1002;
}

#progressDark
{
	background-color: #000;
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
}

.manageLi
{
	border-top: 1px solid #ccc;
    line-height: 18px;
    margin-bottom: 20px;
}
