
input[type="checkbox"] {
    visibility: unset;
}
.roundedTwo {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #fcfff4 0%, #dfe5d7 40%, #b3bead 100%) repeat scroll 0 0;
    border-radius: 50px;
    box-shadow: 0 1px 1px white inset, 0 1px 3px rgba(0, 0, 0, 0.5);
    height: 28px;
    margin: -83px 177px;
    position: relative;
    width: 28px;
}
.roundedTwo label {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #222 0%, #45484d 100%) repeat scroll 0 0;
    border-radius: 50px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 1);
    cursor: pointer;
    height: 20px;
    left: 4px;
    position: absolute;
    top: 4px;
    width: 20px;
}
.roundedTwo label::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: transparent none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color #fcfff4 #fcfff4;
    border-image: none;
    border-style: none none solid solid;
    border-width: medium medium 3px 3px;
    content: "";
    height: 5px;
    left: 4px;
    opacity: 0;
    position: absolute;
    top: 5px;
    transform: rotate(-45deg);
    width: 9px;
}
.roundedTwo label:hover::after {
    opacity: 0.3;
}
.roundedTwo input[type="checkbox"]:checked + label::after {
    opacity: 1;
}
.roundedThree {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #fcfff4 0%, #dfe5d7 40%, #b3bead 100%) repeat scroll 0 0;
    border-radius: 50px;
    box-shadow: 0 1px 1px white inset, 0 1px 3px rgba(0, 0, 0, 0.5);
    height: 28px;
    margin: -147px 177px;
    position: relative;
    width: 28px;
}
.roundedThree label {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #222 0%, #45484d 100%) repeat scroll 0 0;
    border-radius: 50px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 1);
    cursor: pointer;
    height: 20px;
    left: 4px;
    position: absolute;
    top: 4px;
    width: 20px;
}
.roundedThree label::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: transparent none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color #fcfff4 #fcfff4;
    border-image: none;
    border-style: none none solid solid;
    border-width: medium medium 3px 3px;
    content: "";
    height: 5px;
    left: 4px;
    opacity: 0;
    position: absolute;
    top: 5px;
    transform: rotate(-45deg);
    width: 9px;
}
.roundedThree label:hover::after {
    opacity: 0.3;
}
.roundedThree input[type="checkbox"]:checked + label::after {
    opacity: 1;
}
.modePassage {
    margin: 1px 3px 3px;
}

.popButtonDiv
{
	margin: 178px 250px 3px;
}