/* CSS Document */

body, ul, ol, li, hr {
	padding:0px;
	margin:0px;
	list-style:none;
}

p {
	padding:0px 0px 10px 0px;
	margin:0px;
}
body {
	font:12px Arial, Helvetica, sans-serif;
	color:#323232;
	/* background:#eaeaea url(../images/grassGround01.jpg) left top repeat-x; */
	background-color:#eaeaea;
	text-align:justify;
}
a{color: #00b6f5;}

#layout {
	background-color:#fff;
line-height: 0;
    margin: 0 auto;
    width: 100%;
	 opacity: 0.8;
	 border-bottom: 1px solid #E0E0E0;
}

#topzone {
  height: 50px;
    margin: 0 auto;
    padding: 10px;
    width: 1200px;
}

#header {
    /* height: 540px; */
	/* height:223px; */
	height: auto;
	
}

#logo {
	padding:35px 0px 0px 0px;
	text-align:center;
}
.topmenu{
	 float: right;
    height: 0;
    margin-right: 35px;
    margin-top: -15px;
}
.topmenu a{
	color:#000;
	text-decoration:none;
	font-size:12px;
}
.topmenu a:hover{
	color:#2FC0F3;
}
#featurezone {
	/* height: 300px; */
	height: 260px;
    margin: 15px auto 0;
    width: 925px;
}

#plan-featurezone {
    height: 300px;
    margin: 0 auto;
    width: 710px;
}
.featurecolbottom img{
	text-align:center;
}
.pricelist{
	/* background-color: #fff;
    border: 1px solid #ccc; */
    border-radius: 5px;
   min-height: 370px;
   height: auto;
    margin: 20px auto;
    padding: 10px;
    width: 800px;
	}
#pricelist{
	background-color: #eee;
    float: right;
    margin-right: 0;
    margin-top: 0;
    width: 100%;
}
#pricelist table{
	text-align:right;

	
}
.pricelist table{
	   border-bottom: 1px solid #ccc;
	font-size: 14px;

}
.pricelist table td{
	 line-height: 20px;
	 vertical-align: top;
}
.border{
 border-top: 1px solid #ccc !important;
}
.paybutton{
	
	float: right;
    margin: 37px 421px 0 auto;
    position: relative;
    text-align: right;
    width: 100%;
	
}
.planheight{
	  height: 280px;
	  
}
#content{
	 height: 600px;
    margin: 0 auto;
    width: 1200px;
}
#radiobutton{
	  display: inline-block;
    height: 30px;
    margin: 10px auto;
    text-align: center;
    width: 100%;
}
.radiobutton{
	 margin: 0 auto;
    width: 430px;
	
}
#radiobutton li{
	background-color: #00b6f5;
    border-radius: 3px;
    color: #fff;
    float: left;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    height: 22px;
    margin: 2px;
    padding: 5px;
    text-align: left;
    width: 125px;
	cursor: pointer;
}
.featurecol {
	width:207px;
	background:url(../images/featurecolbg.gif) left top repeat-y;
	margin:0px 29px 0px 0px;
	float:left;
	
	
	/*
	
	background-color: #ffffff;
    border-radius: 5px;
    float: left;
    height: 234px;
    margin: 27px 29px 0 0;
    width: 207px;
    
   */
}

.featurecol_last {
	width:207px;
	background:url(../images/featurecolbg.gif) left top repeat-y;
	float:left;
}

.featurecoltop {
	background:url(../images/featurecoltop.gif) left top no-repeat;
}

.featurecolbottom {
	background:url(../images/featurecolbottom.gif) left bottom no-repeat;
	padding:20px 0px 20px 0px; text-align:center;
}

.featurecolbottom p{text-align:justify; padding:0px 10px 0px 10px; margin:0px;}

#welcomezone {
	padding:0px 0px 10px 0px;
	text-align:center;
}

#welcomezone-in {
	padding:0px 0px 20px 0px;
}

.readmore1 { padding:0px 0px 0px 0px; margin:10px 0px 30px 170px; width:560px; font:bold 12px Arial, Helvetica, sans-serif; color:#747474; border:1px solid #cdcbcb; background:#f9f9f9 url(../images/welcomeDisc.gif) 10px 8px no-repeat;}

.readmore1 span { padding:4px 0px 0px 25px; float:left; }

.readmore1 .img { float:right; padding:2px 3px 2px 0px; }

#bottom_columnzone {
	background:#ffffff;
	border:1px solid #d3d1d1;
	padding:20px 24px 15px 24px;
	margin:0px 0px 37px 0px;
}

#newszone {
	width:250px;
	float:left;
	padding:0px 30px 0px 0px;
	border-right:1px solid #dedede;
}

.newsrow {
	padding:0px 0px 10px 0px;
}

#servicezone {
	width:250px;
	float:left;
	padding:0px 30px 0px 20px;
	border-right:1px solid #dedede;
}

#testimonialzone {
	width:240px;
	float:left;
	padding:0px 0px 0px 30px;
}

#footercontainer {
	background:#242424;
	height:83px;
}

#footer {
	/* width:900px; */
	width: 1176px;
	font-size:11px;
	background:url(../images/footer1.gif) right top no-repeat;
	padding:0px 0px 0px 0px;
	margin:0px auto;
}

#footerleft {
	float:left;
	padding:35px 0px 0px 0px;
}

#footerright {
	color: #9f9f9f;
    float: right;
    padding: 51px 1px 3px;
}

.clear {
	clear:both;
	margin:0px;
	padding:0px;
}

p.clear {
	clear:both;
	margin:0px;
	padding:0px;
}

/*	Img Style Start Here  */

.readmoreimg {
	text-align:center;
	padding:10px 0px 0px 0px;
}

/*	Img Style End Here  */

/*	Form Style Start Here  */

#searcharea {
	padding:0px 0px 0px 219px;
}

form.searchzone {
	margin:0px 0px 0px 0px;
	padding:42px 0px 0px 0px;
	display:block;
	text-align:center;
}

.searchzone label {
	float:left;
	color:#fff;
	font:bold 13px  Arial, Helvetica, sans-serif;
	display:block;
	margin:0px 2px 0px 0px;
	padding:11px 10px 20px 30px;
	background:url(../images/searchicon.gif) 0px 7px no-repeat;
}
.searchzone label.advance{color:#000000; padding:8px 10px 20px 10px; font-size:11px;}
.searchzone label.advance a{color:#000000;}
.searchzone input.txtbox {
	width:288px;
	height:22px;
	color:#323232;
	background:url(../images/txtboxbg.gif) left top no-repeat;
	font-size:10px;
	border:0px;
	float:left; padding:4px 0px 0px 5px;
	margin:5px 5px 0px 0px;
}

.searchzone input.gobutton {
	float:left;
	margin:5px 0px 0px 0px;
}

/*	Form Style End Here  */

/*	Text Style Start Here  */

#welcomezone h1 {
	font:27px Arial, Helvetica, sans-serif;
	color:#000000;
	padding:0px 0px 0px 0px;
	margin:0px;
}

#featurezone h1 {
	font:27px Arial, Helvetica, sans-serif;
	color:#000000;
	padding:0px 0px 0px 0px;
	margin:0px;
}

#bottom_columnzone h1 {
	font:22px Arial, Helvetica, sans-serif;
	color:#000000;
	padding:0px 0px 0px 0px;
	margin:0px;
}

#welcomezone .subheading {
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#a87d3b;
	display:block;
	padding:0px 0px 20px 0px;
}

#featurezone .subheading {
	font:bold 11px Arial, Helvetica, sans-serif;
	color:#747474;
	display:block;
	padding:0px 0px 5px 0px;
}

#bottom_columnzone .subheading {
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#a87d3b;
	display:block;
	padding:0px 0px 15px 0px;
}

.newsrow .subheading1 {
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#747474;
	text-decoration:underline;
	display:block;
}

.news_datetxt {
	font:bold 11px Arial, Helvetica, sans-serif;
	color:#352f21;
	display:block;
	padding:0px 0px 5px 0px;
	margin:0px;
}

.testi_writer {
	font:bold 11px Arial, Helvetica, sans-serif;
	text-align:right;
	color:#000000;
	display:block;
	padding:20px 0px 0px 0px;
}

.newsHeading { padding:0px 0px 0px 50px; background:url(../images/newsicon.gif) 0px 0px no-repeat; }

.latestServiceHeading { padding:0px 0px 0px 50px; background:url(../images/latestserviceicon.gif) 0px 0px no-repeat; }

.testiHeading { padding:0px 0px 0px 50px; background:url(../images/testimonialicon.gif) 0px 0px no-repeat; }

/*	Text Style End Here  */


/*	Menu Style Start Here  */

#topmenuzone {
	 float: right;
    height: 37px;
   /*  margin: 20px 72px; */
    margin: 20px -20px;
}

#topmenuleft {
	float: left;
	cursor:pointer;
}

#topmenuright {
	background:url(../images/topmenuzoneright.gif) right top no-repeat;
	padding:0px 0px 5px 0px;
}

ul.topmenu {
	margin:0px;
	padding:8px 0px 0px 20px;
}

.topmenu li {
	display:block;
	float:left;
	background:url(../images/menudevider.gif) left top no-repeat;
	list-style:none;
	padding:0px 20px 0px 20px;
	border-right:1px solid #a2a2a2;
	margin:0px;
}

.topmenu li a {
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#2FC0F5;
	text-decoration:none;
	text-transform:capitalize;
	display:block;
	float:left;
	background:url(../images/topmenuleft.gif) left top no-repeat;
	padding:0px 1px 0px 5px;
}

.topmenu li a span {
	display:block;
	float:left;
	padding:4px 15px 5px 10px;
	cursor:pointer;
	background:url(../images/topmenuright.gif) right top no-repeat;
}

.topmenu li a:hover {
	color:#fff;
	background-color: #333;
	border-radius:5px;
}

.topmenu li a:hover span {
	background-color: #28262C;
	border-radius:5px;
}
.topmenu li a.over {
background-color: #28262C;
    border-radius: 5px;
    color: #fff;
}

.topmenu li a.over span {
	background-color: #28262C;
    border-radius: 5px;
    color: #fff;
}

ul.servicelink {
	padding:0px 0px 0px 0px;
}

.servicelink li {
	border-bottom:1px dashed #858383;
	padding:2px 0px 2px 0px;
}

.servicelink li a {
	font:12px Arial, Helvetica, sans-serif;	
	color:#323232;
	background:url(../images/servicedisc.gif) 0px 11px no-repeat;
	text-decoration:none;
	padding:5px 0px 0px 14px;
	margin:0px 0px 5px 0px;
}

.servicelink li a:hover {
	color:#454545;
	font-weight:bold;
	background:url(../images/servicedischover.gif) 0px 11px no-repeat;
}


#footer a {
	color:#00b6f5;
	text-decoration:none;
}

ul.footerlink {
	margin:0px;
	padding:0px 0px 0px 0px;
}

.footerlink li {
	display:inline;
	padding:0px 5px 0px 5px;
	border-right:1px solid #9f9f9f;
}

.footerlink li a {
	font:12px Arial, Helvetica, sans-serif;
	color:#9f9f9f;
	text-transform:capitalize;
	text-decoration:none;
}

/*	Menu Style End Here  */
/* inner pages css start */
.aboutus-img{float:right; 
				border:4px solid #fff;	
				margin:0 0px 10px 20px;}

h5	{font-size:15px;
	font-weight:bold; 
	padding:0px 0px 5px 0px; 
	border-bottom:1px dotted #666;	
	margin:0px 0px 10px 0px;}
	
h6	{font-size:16px; 
	font-weight:bold; 
	padding:0px 0px 5px 0px; 
	margin:0px 0px 10px 0px;}
	
.innertext{padding-top:10px;}

.aboutcolumnzone{padding:20px 0px 16px 0px;}

.aboutcolumn1{width:48%; 
			float:left; 
			margin:0px 0px 10px 0px;}

.aboutcolumn2{width:48%; 
				float:right; 
				margin:0px 0px 10px 0px;}

.abouticon{float:left; 
			margin:0px 20px 0px 0px;}

.insidereadmore{padding:10px 0px 10px 0px;}

input.button{color:#000; 
			background:#ffc850; 
			font:bold 11px Arial, Helvetica, sans-serif; 
			text-decoration:none; 
			padding:10px 10px; margin:0px 5px 5px 0;	
			border:1px solid #5b7a92;}

input.button:hover{cursor:pointer; 
					color:#fff; 
					background:#663300; 
					border:1px solid #ffc850;}

.project-img{float:right; 
			margin-left:20px;	
			border: 6px solid #666;}

.whiteheading{font:30px Myriad Pro, Arial; 
				color:#CBD76B; 
				font-weight:100;	
				padding:0px; 
				margin:25px 0px 20px 0px;}

.ourprojectrow{margin-bottom:20px; 
				border-bottom:1px dotted #666; 
				padding-bottom:10px}

.servicecolumnzone{padding:20px 0px 16px 0px;}

.servicecolumn1{width:48%; 
				float:left; 
				margin:0px 0px 10px 0px;}

.servicecolumn2{width:48%; 
				float:right;	
				margin:0px 0px 10px 0px;}

.blog-posted-row{padding:3px;}
/* inner pages css ends */




.contentDivDetails
{
  padding: 12px 82px;
}

.basicError
{
	color: red;
    display: none;
    margin-top: 10px;
}

.buttonSelect
{
	background: #00b6f5 none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    margin: 197px 249px 13px;
    outline: medium none;
    padding: 3px;
}



.checkOutBill
{
	background-color: #fff;
    background-image: url("../images/bg_img.png");
    border-radius: 5px;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif !important;
    font-size: 12px !important;
    height: auto !important;
    list-style: outside none none;
    margin: 0 auto;
    min-height: 539px;
    padding: 0;
    width: 900px;
}

.rightHeading
{
	font-family: Tahoma;
    font-style: italic;
    width: 133px;
    color:#00b6f5;
}

.rowStyle
{
	margin-top:20px ;
}







/* Fotter Style */

.centercontent {
    color: #9f9f9f;
    float: left;
    margin: 35px 44px auto;
    text-align: center;
    width: 500px;
}

.footer_center{
	height:135px;
	width:100%;
	background-image:url(../images/footer_icon_bg.jpg);
	background-repeat:repeat-x repeat-y;
}
.footer_copyrights {
    background-color: #4a484b;
    height: 74px;
    margin-top: -14px;
    width: 100%;
}
.copyrights {
		 height: 52px;
    margin: 0 auto;
    width: 1024px;
}
.copyrights ul{
	padding:0px;
}
.copyrights li{
	float:left;
	text-align: left;
	  margin-top: -5px;

}
.copyrights li p{
	color: #ccc;
	font-family:Segoe UI;
	font-size:12px;
	 margin: 0;
}
.copyrights li span{
	color: #03b2ee;
	font-family:Segoe UI;
	font-size:12px;
	margin-left:5px;
}
.footer_space02 p{
	color: #ccc;
	font-family:Segoe UI;
	font-size:12px;
	 margin-bottom: 0;
	  margin-top: 30px;
    text-align: center;
}
.footer_space{
	 text-align: left;
    width: 150px;
	height:52px;
	
}
.footer_space01{
	 text-align: left;
    width: 250px;
	height:52px;
	
}
.footer_space02{
	 text-align: left;
    width: 520px;
	height:52px;
}
.footer_space03{
	 text-align: left;
    width: 250px;
	height:52px;
}
.footer_space03 img{
	 margin-bottom: 0;
	  margin-top:24px;
    text-align: center;
}
.footer_space01 a{
	color: #03b2ee;
	text-decoration:none;
}
.footer_space01 a:hover{
	color: #ccc;
	text-decoration:none;
}
.footer_space02 a{
	color: #ccc;
	text-decoration:none;
}
.footer_space02 a:hover{
	color: #03b2ee;
	text-decoration:none;
}
ul.social_media li {
    display: inline-block;
    margin-left: 5px;
}
ul.social_media li a {
    display: inline-block;
    font-family: Segoe UI;
    font-size: 12px;
    height: 31px;
    transition: all 0.3s ease-out 0s;
    width: 31px;
}
.social_media{
	margin-top:-44px;
	margin-left:-40px;
	/* float: right; */
}

a.fb{background:url(../images/bottom_social_icon.png) 0 0 no-repeat;}
a.fb:hover{background: url(../images/bottom_social_icon_hover.png) no-repeat 0px 0px; transform:background (ease-out 3s);}
a.twitter{background:url(../images/bottom_social_icon.png) no-repeat -31px 0;}
a.twitter:hover{background:url(../images/bottom_social_icon_hover.png) no-repeat -31px 0px; transform: rotate(ease-out 3s);}
a.google_plus{background:url(../images/bottom_social_icon.png) no-repeat -62px 0;}
a.google_plus:hover{background:url(../images/bottom_social_icon_hover.png) no-repeat -62px 0px; transform: rotate(ease-out 3s);}
a.ln{background:url(../images/bottom_social_icon.png) no-repeat -100px 0;}
a.ln:hover{background:url(../images/bottom_social_icon_hover.png) no-repeat -100px -0px; transform: rotate(ease-out 3s);}
a.rss{background:url(../images/bottom_social_icon.png) no-repeat -135px 0;}
a.rss:hover{background:url(../images/bottom_social_icon_hover.png) no-repeat -135px 0px; transform: rotate(ease-out 3s);}






a.tooltip span {
    border-radius: 6px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    color: #fff;
    display: none;
    font-size: 13px;
    line-height: 1.2;
    margin-left: -5px;
    margin-top: -80px;
    max-width: 320px;
    padding: 10px 12px;
    z-index: 10;
}


.tooltip-box-arrow {
    bottom: -15px;
    color: rgba(77, 144, 254, 0.9);
    font-size: 16px;
    left: 15px;
    position: absolute;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    z-index: 20;
}






