

.backGroundDiv
{
    background-color: #ccc;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: fixed;
    top: 0;
    width: 100%;
}


label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 600
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	main, menu, nav, section, summary {
	display: block
}

a {
	/* text-decoration: none; */
	color: #B9ACCB
}

a:hover {
	color: #6B3398
}

li, ul {
	/* margin: 0;
	padding: 0 */
}

li {
	/* list-style: none */
}


h1, h2, h3 {
	color: #02214C
}

h1 {
	font-weight: 500;
	font-size: 40px;
	margin-bottom: .2em
}

h2 {
	font-weight: 300
}

#main {
	width: 1000px;
	margin: 0 auto
}

.main-header {
	text-align: center;
	padding: 40px 0;
	margin-bottom: 20px;
	border-bottom: 1px solid #e1e1e1
}

.button {
	color: #3CB3E7;
	font-family: Raleway, Helvetica, sans-serif;
	border-radius: 4px;
	padding: 15px 25px;
	border: 1px solid #3CB3E7;
	background: 0 0;
	font-size: 14px;
	cursor: pointer
}

.button:hover {
	color: #fff;
	background: #3CB3E7
}

.center-button-wrapper 
{
	text-align: center;
	padding: 50px 0
}

.rv-vanilla-modal 
{
    background: #fff none repeat scroll 0 0;
    border-radius: 4px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
    left: 50%;
    margin: 8px 0 0 -22.5%;
    min-height: 300px;
    position: fixed;
    top: 24%;
    transition: all 0.3s ease-out 0s;
    width: 45%;
    z-index: 26;
}

.rv-vanilla-modal-is-open 
{
	top: 70%
}

.rv-vanilla-modal-overlay {
    background-color: #ccc;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.4s linear 0s;    
}   

.rv-vanilla-modal-overlay.is-shown {
	opacity: 1;
	display: block
}

.rv-vanilla-modal-header {
	padding: 10px;
	background: #3CB3E7;
	border-radius: 4px 4px 0 0
}

.rv-vanilla-modal-body {
	padding: 25px 20px 20px;
	/* overflow: auto; */
	overflow: hidden;
	color: #555
}

.rv-vanilla-modal-body p {
	line-height: 150%;
	margin: 0 0 1em
}

.rv-vanilla-modal-title {
	color: #fff;
	margin: 0;
	font-size: 18px;
	font-weight: 300
}

.rv-vanilla-modal-close {
	color: #1a9dd6;
	font-size: 16px;
	float: right;
	display: inline-block;
	width: 26px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	border-radius: 50%;
	border: 0;
	cursor: pointer;
	background: rgba(255, 255, 255, .4);
	-webkit-transition: all .2s linear;
	transition: all .2s linear
}

.rv-vanilla-modal-close .text {
	position: relative;
	top: -1px
}

.rv-vanilla-modal-close:hover {
	color: #1996cd;
	background: rgba(255, 255, 255, .5)
}

.hidden {
	display: none !important;
	visibility: hidden
}

.group:after, .group:before {
	content: "";
	display: table
}

.group:after {
	clear: both
}

.centered {
	text-align: center
}